@use '../../sass/variable' as *;

.cryptocurrency-card {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-2;
  border-radius: 1rem;
  height: 100%;
  color: $text-color;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    img {
      max-width: 3.5rem;
      height: 3.5rem;
      flex-shrink: 0;
    }
  }

  &__content {
    border-top: 2px solid $bg-color-3;
    padding: 1.5rem;
    margin-top: auto;
  }
}
