@use '../../sass/variable' as *;

.nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 26rem;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 8px 0px 32px rgba(0, 0, 0, 0.25);

  .logo__container {
    padding: 1.6rem 2.4rem;
    display: inline-block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: relative;

    &-link {
      display: flex;
      align-items: center;
      padding: 0.8rem 2.4rem;
      transition: all 0.3s;
      position: relative;

      svg {
        margin-right: 1.6rem;
      }

      &.active,
      &:hover {
        color: $color-primary;
      }
    }

    .line {
      position: absolute;
      width: 5px;
      background-color: $color-primary;
      left: 0;
      border-radius: 0px 4px 4px 0px;
      box-shadow: 0px 0px 8px rgba(255, 151, 29, 0.5);
      transition: all 0.3s;
    }
  }

  &__img {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color-5;
    padding: 2.4rem;
    border-radius: 0.9rem;
  }
}
