@use '../../../sass/variable' as *;

.homepage {
  padding: 1.5rem 2.4rem;
  position: relative;

  &.loading {
    height: 100vh;
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  .stats {
    margin-bottom: 1.5rem;

    &__list {
      $col: 2;
      $gap: 1.5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $gap;
      margin-right: calc(-1 * $gap);
      li {
        width: calc(100% / $col - $gap);

        h6 {
          color: $text-color-light;
        }

        span {
          font-size: 2.4rem;
        }
      }
    }
  }

  &__heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
